/* OSM design */

a         {
  text-decoration: none; 
  color: green; 
}


div#listleft {
  // text-align: center;
  margin: 0.5em;
}

/* ??? */
body {
  /* background-color: #9c9; */
  margin: 0px 0px 0px 0px;
}

span#homelink {
    position: fixed;
    top: 0em;
    right: 4em;
    padding-left: 3em;
    z-index: 1000000000;
}

