/* Berlin stammtisch design */

a         {
  text-decoration: none; 
  color: green; 
}


div#listleft {
  // text-align: center;
  margin: 0.5em;
}

/* ??? */
body {
  /* background-color: #9c9; */
  margin: 0px 0px 0px 0px;
}

span#homelink {
    position: fixed;
    top: 0em;
    right: 4em;
    padding-left: 3em;
    z-index: 1000000000;
}


/* fresh loctions */
span.y2024, span.y2023, span.y2022, span.y2021, span.y2020 {
    color: #00A36C;
}

/* more than 3 years old: yellow */
span.y2020, span.y2019, span.y2018, span.y2017, span.y2016, span.y2015 {
    color: #FFBF00;
}

/* more than 10 years old: red */
span.y2014, span.y2013, span.y2012, span.y2011, span.y2010, span.y2009, span.y2008 {
    color: #FA8072;
}

/* EOF */
